<template>
	<v-container fluid>
		<v-card cols="12" lg="12" sm="8" md="4">
			<v-card
				lg="12"
				md="8"
				sm="4"
				dark
				color="deep-purple accent-3"
				elevation="12"
			>
				<v-toolbar color="deep-purple accent-3" dark flat>
					<v-toolbar-title v-bind:style="{ fontWeight: 600, fontSize: '30px' }"
						>Autosense</v-toolbar-title
					>
					<v-spacer />
				</v-toolbar>

				<v-list-item-group v-model="lists">
					<v-list-item
						color="#fff"
						v-for="item in lists"
						:key="item.title"
						two-line
						disabled
					>
						<v-list-item-content>
							<v-list-item-title>{{ item.title }}</v-list-item-title>
							<v-list-item-subtitle>
								{{ item.subtitle }}
							</v-list-item-subtitle>
						</v-list-item-content>
					</v-list-item>
				</v-list-item-group>

				<!-- <v-card-actions>
					<v-btn elevation="4" dark color="purple darken-4" to="/students"
						>Register Faces</v-btn
					>
				</v-card-actions> -->
			</v-card>
		</v-card>
	</v-container>
</template>

<script>
// @ is an alias to /src
export default {
	name: "Home",
	data: () => ({
		color: "#673AB7",

		lists: [
			{ title: "Register", subtitle: "Register students" },
			{
				title: "Take Photos",
				subtitle: "Upload photos by the File Upload",
			},
			{
				title: "Train",
				subtitle: "Train the model for all students in the catalog",
			},
			{
				title: "Recognize",
				subtitle: "Recognize the students",
			},
		],
	}),
};
</script>
