<template>
	<v-container fluid>
		<v-card lg="12" md="8" sm="4">
			<v-card>
				<v-toolbar color="accent" flat>
					<v-toolbar-title v-bind:style="{ fontWeight: 600, fontSize: '30px' }"
						>Faculties</v-toolbar-title
					>
					<v-spacer />
				</v-toolbar>
				<v-list>
					<template v-for="(item, index) in faculties">
						<v-list-item :key="index">
							<v-list-item-icon>
								<v-icon>mdi-account</v-icon>
							</v-list-item-icon>
							<v-list-item-content>
								<v-list-item-title
									v-html="
										item.first_name +
										' ' +
										item.last_name +
										'(' +
										item.username +
										')'
									"
								></v-list-item-title>
								<v-list-item-subtitle
									v-html="item.department"
								></v-list-item-subtitle>
							</v-list-item-content>
						</v-list-item>
					</template>
				</v-list>
			</v-card>
		</v-card>
	</v-container>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
	name: "Faculties",
	data() {
		return {
			divider: true,
			inset: true,
		};
	},

	computed: mapState({
		faculties: (state) => state.faculties.faculties,
	}),

	created() {
		this.$store.dispatch("faculties/getFaculties");
	},
};
</script>
