<template>
	<v-container grid-list-md>
		<v-layout row wrap align-center justify-center fill-height>
			<v-flex xs12 sm8 lg8 md5 class="d-flex align-center justify-center">
				<v-card color="deep-purple accent-3" max-width="400" max-height="500">
					<v-container class="pa-10">
						<v-img src="../assets/autosense.png" width="100%" />
					</v-container>
					<v-toolbar color="deep-purple accent-3" dark flat>
						<v-toolbar-title
							v-bind:style="{ fontWeight: 600, fontSize: '30px' }"
							>Login to autosense</v-toolbar-title
						>
						<v-spacer />
					</v-toolbar>
					<v-card-text>
						<v-layout
							row
							fill-height
							justify-center
							align-center
							v-if="loading"
						>
							<v-progress-circular
								:size="50"
								color="deep-purple accent-3"
								indeterminate
							/>
						</v-layout>

						<v-form v-else ref="form" v-model="valid" lazy-validation>
							<v-container>
								<v-text-field
									v-model="credentials.username"
									@keyup.enter="login"
									:counter="70"
									label="username"
									:rules="rules.username"
									maxlength="70"
									prepend-icon="mdi-account"
									required
									background-color="deep-purple accent-2"
									filled
									color="#fff"
								/>

								<v-text-field
									type="password"
									@keyup.enter="login"
									v-model="credentials.password"
									:counter="20"
									label="password"
									:rules="rules.password"
									prepend-icon="mdi-lock"
									maxlength="20"
									background-color="deep-purple accent-2"
									filled
									required
									color="#fff"
								/>
							</v-container>
							<v-btn
								class="white--text"
								color="deep-purple darken-4"
								:disabled="!valid"
								@click="login"
								>Login</v-btn
							>
						</v-form>
					</v-card-text>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
import axios from "axios";
import router from "../router";
import swal from "sweetalert2";
export default {
	name: "Auth",
	data: () => ({
		credentials: {},
		valid: true,
		loading: false,
		rules: {
			username: [
				(v) => !!v || "Username is required",
				(v) =>
					(v && v.length > 3) ||
					"A username must be more than 3 characters long",
				(v) =>
					/^[a-z0-9_]+$/.test(v) ||
					"A username can only contain letters and digits",
			],
			password: [
				(v) => !!v || "Password is required",
				(v) =>
					(v && v.length > 7) ||
					"The password must be longer than 7 characters",
			],
		},
	}),
	methods: {
		login() {
			// checking if the input is valid
			if (this.$refs.form.validate()) {
				this.loading = true;
				axios
					.post(
						"http://localhost:8000/api/login/token/obtain/",
						this.credentials
					)
					.then((res) => {
						router.app.$session.start();
						router.app.$session.set("token", res.data.access);
						router.push("/");
					})
					.catch((e) => {
						this.loading = false;
						swal.fire({
							title: "Error",
							text: "Wrong username or password",
							showConfirmButton: false,
							showCloseButton: false,
							timer: 3000,
						});
					});
			}
		},
	},
};
</script>
