<template>
	<v-container fluid>
		<v-card lg="12" md="8" sm="4">
			<v-toolbar color="accent" flat>
				<v-toolbar-title v-bind:style="{ fontWeight: 600, fontSize: '30px' }"
					>Students</v-toolbar-title
				>
				<v-spacer />
			</v-toolbar>

			<v-list three-line>
				<template v-for="(item, index) in students">
					<v-subheader
						v-if="item.header"
						:key="item.header"
						v-text="item.header"
					></v-subheader>

					<v-divider
						v-else-if="item.divider"
						:key="index"
						:inset="item.inset"
					></v-divider>

					<v-list-item v-else :key="item.name">
						<v-list-item-avatar>
							<v-img :src="item.avatar"></v-img>
						</v-list-item-avatar>

						<v-list-item-content>
							<v-list-item-title v-html="item.name"></v-list-item-title>
							<v-list-item-subtitle v-html="item.usn"></v-list-item-subtitle>
							<v-list-item-subtitle
								v-html="item.yrsection + item.sections + item.clsection"
							></v-list-item-subtitle>
						</v-list-item-content>
						<v-spacer></v-spacer>
					</v-list-item>
				</template>
			</v-list>
		</v-card>
	</v-container>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
	name: "Students",
	data: () => ({
		avatar: "https://cdn.vuetifyjs.com/images/lists/1.jpg",
		firstName: "",
		middleName: "",
		lastName: "",
		name: "",
		section: "",
		usn: "",
	}),

	computed: {
		...mapState({
			students: (state) => state.students.students,
		}),
	},
	created() {
		this.$store.dispatch("students/getStudents");
	},
};
</script>

<style></style>
