<template>
	<v-container class="fill-height" fluid>
		<v-row align="center" justify="center">
			<v-col cols="12" sm="8" md="4">
				<div>
					<v-alert
						:value="alert"
						color="purple darken-4"
						dark
						icon="mdi-check"
						border="left"
						prominent
						transition="scale-transition"
						dismissible
					>
						Attendance has been recorded
					</v-alert>
				</div>

				<v-card color="deep-purple accent-3">
					<v-toolbar color="deep-purple accent-3" dark flat>
						<v-toolbar-title
							v-bind:style="{ fontWeight: 600, fontSize: '30px' }"
							>Take Attendance</v-toolbar-title
						>
						<v-spacer />
					</v-toolbar>
					<v-card-text>
						<v-text-field
							color="#fff"
							v-model="subject_code"
							prepend-icon="mdi-google-classroom"
							label="Subject Code"
							filled
							background-color="deep-purple accent-2"
						></v-text-field>
					</v-card-text>
					<v-card-actions>
						<v-spacer />
						<v-btn
							dark
							color="purple darken-4"
							@click="
								addAttendence({
									subject_code: subject_code,
								}),
									(alert = !alert),
									reset
							"
							>Take</v-btn
						>
					</v-card-actions>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
import { mapState, mapActions } from "vuex";
import router from "../router";

export default {
	name: "TakeAttd",
	data: () => ({
		subject_code: "",
		alert: false,
	}),
	mounted() {
		this.checkLoggedIn();
	},
	computed: mapState({
		attendences: (state) => state.attendences.attendences,
	}),
	beforeCreate: function() {
		if (!router.app.$session.exists()) {
			router.push("/login");
		}
	},
	methods: {
		...mapActions("attendences", ["addAttendence"]),

		reset() {
			this.subject_code = "";
		},
		checkLoggedIn() {
			router.app.$session.start();
			if (!router.app.$session.has("token")) {
				router.push("/login");
			}
		},
	},
};
</script>
