<template>
	<v-app v-bind:style="{ backgroundColor: color }">
		<v-container>
			<v-navigation-drawer
				v-model="drawer"
				color="secondary"
				:mini-variant="miniVariant"
				permanent
				:clipped="clipped"
				fixed
				flat
				floating
				app
				v-if="this.$route.path !== path"
			>
				<template v-slot:prepend>
					<v-list-item>
						<v-list-item-content>
							<img src="./assets/autosense.png" width="100%" />
						</v-list-item-content>
					</v-list-item>
				</template>

				<v-list dense nav>
					<v-list-item
						color="textBlack"
						v-for="item in items"
						:key="item.title"
						:to="item.link"
					>
						<v-list-item-icon>
							<v-icon color="textBlack">{{ item.icon }}</v-icon>
						</v-list-item-icon>

						<v-list-item-content>
							<v-list-item-title class="subtitle-2">{{
								item.title
							}}</v-list-item-title>
						</v-list-item-content>
					</v-list-item>
				</v-list>
			</v-navigation-drawer>
			<v-app-bar
				v-if="this.$route.path !== path"
				color="#fff"
				:clipped-left="clipped"
				fixed
				flat
				app
			>
				<v-btn @click.stop="miniVariant = !miniVariant" icon>
					<v-icon
						color="#000"
						v-html="miniVariant ? 'mdi-menu' : 'mdi-menu-open'"
					/>
				</v-btn>
				<div class="d-flex align-center">
					<v-img
						elevation="12"
						alt="Autosense"
						class="shrink mt-1 hidden-sm-and-down"
						contain
						src="./assets/logo.png"
						width="50"
					/>
				</div>

				<v-spacer></v-spacer>
				<div class="my-2">
					<v-btn @click="logout" large color="textBlack" text="" target="_blank"
						>Logout</v-btn
					>
				</div>
				<div class="my-2">
					<v-btn
						href="http://localhost:8000/api/admin"
						large
						color="textBlack"
						text=""
						target="_blank"
						>Admin</v-btn
					>
				</div>
			</v-app-bar>

			<v-content fluid>
				<router-view></router-view>
			</v-content>
			<v-footer
				v-if="this.$route.path !== path"
				color="#fff"
				:fixed="fixed"
				app
				absolute
				class="font-weight-medium"
			>
				<v-col class="text-center" cols="12">
					<div>
						<strong>
							<a
								href="https://crstnmac.me/"
								v-bind:style="{ color: '#000', textDecoration: 'none' }"
								target="_blank"
							>
								⚡crstnmac⚡
							</a>
							- &copy; 2020</strong
						>
						&nbsp;
					</div>
				</v-col>
			</v-footer>
		</v-container>
	</v-app>
</template>

<script>
import router from "./router";
export default {
	name: "App",

	data: () => ({
		clipped: false,
		drawer: true,
		fixed: false,
		miniVariant: true,
		right: true,
		rightDrawer: false,
		color: "#fff",
		path: "/login",
		items: [
			{
				title: "Attendance",
				icon: "mdi-account-group",
				link: "/",
			},
			{ title: "About", icon: "mdi-alert-box", link: "/about" },
		],
	}),
	mounted() {
		this.checkLoggedIn();
	},
	beforeCreate: function() {
		if (!router.app.$session.exists()) {
			router.push("/login");
		}
	},
	methods: {
		logout: function() {
			router.app.$session.destroy();
			router.push("/login");
		},
		checkLoggedIn() {
			router.app.$session.start();
			if (!router.app.$session.has("token")) {
				router.push("/login");
			}
		},
	},
};
</script>
